





.NavbarHeader-main {
    grid-column-start: span 2;

    /* background: rgba(80, 80, 80, 0.05); */
    height: 100px;
    width: 100vw;
    

    /* border: 4px dashed #754 */
}

.NavbarHeader-logo {
    max-height: 50px;
    margin-top: 35px;
}

