

:root {
  --app-dark-layer-one: #141715;
  --app-dark-layer-two: #1c211d;
  --app-dark-layer-three: #272e28;
  --app-dark-highlight: #3d453e;
  --app-green-core: #147830;
  --app-green-core-light: #148f36;
  --app-green-core-very-light: #10a138;
  --app-green-main: #14c741;
  --app-green-main-light: #36e060;
  --app-green-main-very-light: #45f570;
  --app-green-secondary: #0bb85e;
  --app-green-secondary-light: #08d46a;
  --app-green-secondary-very-light: #24f287;
  --app-green-dark: #19702f;
  --app-green-dark-secondary: #1b663f;

  --dark-glass-background: rgba(15, 15, 15, 0.36);
  --dark-glass-light-background: rgba(45, 45, 45, 0.36);
  --app-transparent-dark-component-hover-highlight: rgba(100, 100, 100, 0.26);

  --card-box-shadow-main: 0px 3px 8px 2px rgba(215, 217, 216, 0.26), 0px 4px 5px -2px rgba(215, 217, 216, 0.45), 0px 0px 35px -12px rgba(215, 217, 216, 0.70);
  --card-box-shadow-main-dark: 0px 3px 8px 2px rgba(15, 17, 16, 0.26), 0px 4px 5px -2px rgba(15, 17, 16, 0.45), 0px 0px 35px -12px rgba(15, 17, 16, 0.70);

  --card-box-shadow-secondary-dark: 0px 1px 4px 2px rgba(15, 17, 16, 0.26), 0px 2px 5px -2px rgba(15, 17, 16, 0.45);

  --text-error-color-dark: #991d14;
}

body {
  font-family: 'Glacial Indifference', sans-serif;
}

/* * {border: 2px dashed #FF0} */

.App {
  text-align: center;
  /* background: var(--app-dark-layer-one); */
  background-image: url("./backgroundBlogGraphic2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* UI core components definitions */

button {
  font-size: 14px;
}

.App-button-core {
  border-radius: 12px;
  padding: 16px 35px;
  background: transparent;
  border: none;
  cursor: pointer;

  /* background: #000; */
}

.App-button-core-compact {
  border-radius: 12px;
  padding: 16px 24px;
  background: transparent;
  border: none;
  cursor: pointer;

  /* background: #000; */
}

.App-button-core-compact-square {
  border-radius: 12px;
  padding: 16px 16px;
  background: transparent;
  border: none;
  cursor: pointer;

  /* background: #000; */
}

.App-icon-button-core-compact-square {
  border-radius: 12px;
  padding: 10px 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  /* background: #000; */
}

.App-button-green-main {
  background: var(--app-green-core);
  color: #FFF;
  font-weight: 500;
}

.App-button-green-main:hover {
  background: var(--app-green-core-light);
  color: #FFF;
  font-weight: 500;
}

.App-button-transparent-dark {
  color: #FDFEFD;
}

.App-button-transparent-dark:hover {
  color: #FDFEFD;
  background: var(--app-transparent-dark-component-hover-highlight);
}

.App-button-glass-dark {
  color: #EFEFEF;
  background: var(--dark-glass-background);
}

.App-button-glass-dark:hover {
  color: #FDFEFD;
  background: var(--app-transparent-dark-component-hover-highlight);
}

.App-button-glass-dark-light {
  color: #EFEFEF;
  background: var(--dark-glass-light-background);
}

.App-button-glass-dark-light:hover {
  color: #FDFEFD;
  background: var(--app-transparent-dark-component-hover-highlight);
}

.ButtonIcon-icon-styles {
  font-size: 26px;
  color: #888888;
}

.ButtonIcon-icon-styles:hover {
  color: #999999;
}